.search-container{
    width: 100%;
    display: flex;
    padding-right: 10%;
}

.party{
    padding: 10%;
}

.search{
    padding-right: 10%;
}

.partyList{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}